Plug 'preservim/nerdtree'

let mapleader = ' '

inoremap jk <Esc>

" clipboard
set clipboard+=unnamedplus

" uppercase
nnoremap <leader>u `[v`]U

" windows
nnoremap <C-w><C-q> :action Unsplit<CR>
nnoremap <C-h> <C-w><C-h>
nnoremap <C-j> <C-w><C-j>
nnoremap <C-k> <C-w><C-k>
nnoremap <C-l> <C-w><C-l>

" TRASHTree
nnoremap - :NERDTreeFind<CR>
let g:NERDTreeMapQuit = '-'

" navigation
map <leader>sf <Action>(com.mituuz.fuzzier.FuzzierVCS)
map <leader>sg <Action>(com.mituuz.fuzzier.FuzzyGrepCaseInsensitive)

map <leader>gd <Action>(GotoImplementation)

" formatting
nmap <leader>ff <Action>(ShowReformatFileDialog)
vmap <leader>ff <Action>(ReformatCode)