[Unit]
Description=Clipboard History Manager (cliphist)
Documentation=https://github.com/sentriz/cliphist
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/wl-paste --watch cliphist store
Restart=on-failure

[Install]
WantedBy=graphical-session.target
