# easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# lsd
alias ls="lsd"
alias ll="ls -hal"

# nvim
alias v="nvim"
alias vi="nvim"
alias vim="nvim"

alias sudo='sudo '
