[commit]
  template = ~/.gitmessage

[core]
	editor = nvim
	excludesfile = ~/.gitignore

[user]
	name = Roman Orzegowski
	email = roman@mbr-targeting.com

[url "git@github.com:"]
	insteadOf = https://github.com/

[pull]
	ff = only

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    features = side-by-side line-numbers decorations
    syntax-theme = Dracula
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28

