/* Everforest Light Medium CSS Variables */
@define-color bg #fdf6e3;
@define-color bg_dim #f4f0d9;
@define-color fg #5c6a72;
@define-color red #f85552;
@define-color orange #f57d26;
@define-color yellow #dfa000;
@define-color green #8da101;
@define-color blue #3a94c5;
@define-color purple #df69ba;
@define-color aqua #35a77c;
@define-color gray #aeb7b6;
@define-color bg_hover #e8e5d5;