@import "colors.css";

* {
    font-family: "FiraMono Nerd Font Propo Medium";
    font-size: 14px;
}

window#waybar {
    background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* Reset default module backgrounds */
.modules-left, .modules-center, .modules-right {
    background: transparent;
    border: none;
    margin-top: 5px;
}

/* Generic Pill Style for Modules */
#clock,
#tray,
#backlight,
#pulseaudio,
#network,
#custom-power,
#custom-sunsetr,
#cpu,
#memory,
#temperature,
#idle_inhibitor,
#group-hardware,
#keyboard-state {
    background-color: @bg;
    color: @fg;
    padding: 0 15px;
    margin: 0 4px;
    border-radius: 15px;
    border: 1px solid @bg_dim;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

/* Workspaces */
#workspaces {
    background-color: @bg;
    margin: 0 4px;
    padding: 0 10px;
    border-radius: 20px;
    border: 1px solid @bg_dim;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @gray;
    transition: all 0.3s ease;
}

#workspaces button:hover {
    color: @fg;
    background: transparent;
    box-shadow: none;
}

#workspaces button.active {
    color: @green;
    padding: 0 5px;
    font-weight: bold;
}

#workspaces button.urgent {
    color: @red;
}

/* Specific Module Colors (Text) */
#clock {
    color: @blue;
}

#cpu { color: @orange; }
#memory { color: @purple; }
#temperature { color: @red; }

#backlight { color: @yellow; }
#pulseaudio { color: @aqua; }
#network { color: @blue; }

#custom-power {
    color: @red;
}

#network.disconnected {
    color: @red;
}

#pulseaudio.muted {
    color: @gray;
}

#idle_inhibitor {
    color: @gray;
}

#idle_inhibitor.activated {
    color: @green;
}

#keyboard-state {
    color: @fg;
}

#keyboard-state label {
    padding: 0 5px;
}

#keyboard-state label.locked {
    color: @yellow;
}

/* Internal Group Styling */
#group-hardware #cpu,
#group-hardware #memory,
#group-hardware #temperature {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0 8px;
    margin: 0;
}
