@import "colors.css";

* {
    font-family: "FiraCode Nerd Font", monospace;
    font-size: 13px;
    font-weight: bold;
}

window#waybar {
    background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

.modules-left, .modules-center, .modules-right {
    background-color: @bg;
    color: @fg;
    margin-top: 6px;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 12px;
    border: 2px solid @bg_dim;
}

.modules-left {
    margin-left: 10px;
}

.modules-right {
    margin-right: 10px;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: @aqua;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @gray;
    transition: all 0.3s ease;
}

#workspaces button.active {
    color: @green;
    border-bottom: 2px solid @green;
}

#workspaces button.urgent {
    color: @red;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 8px;
    color: @fg;
}

#clock {
    color: @blue;
}

#battery {
    color: @green;
}

#battery.charging, #battery.plugged {
    color: @aqua;
}

#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color: @orange;
}

#memory {
    color: @purple;
}

#network {
    color: @blue;
}

#network.disconnected {
    color: @red;
}

#pulseaudio {
    color: @yellow;
}

#pulseaudio.muted {
    color: @gray;
}

#tray {
    margin-right: 8px;
}