# easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# lsd
alias ls="/bin/lsd"
alias ll="ls -hal"

#ssp
alias lsd="~/development/ssp-core/bin/lsd"

# nvim
alias v="nvim"
alias vi="nvim"
alias vim="nvim"
alias vt='nvim -c "term"'

# git
alias ga="git add"
alias gc="git commit"
alias gco="git checkout"
alias gd="git diff"
alias gds="git diff --staged"
alias gp="git pull"
alias grd="git range-diff @{u}...@"
alias gs="git status"

alias sudo='sudo '

alias cat='bat '
alias man='batman '
