# easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# lsd
alias ls="/bin/lsd"
alias ll="ls -hal"

#ssp
alias lsd="~/development/adscale/bin/lsd"

# nvim
alias v="nvim"
alias vi="nvim"
alias vim="nvim"
alias vt='nvim -c "term"'

# git
alias gds="git diff --staged"

alias sudo='sudo '

alias cat='bat '
alias man='batman '
